.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Updated to wrap */
  justify-content: space-between;
  gap: 10px; /* Added gap property */
}

.cards > ul > li {
  width: 30%; /* Updated to 30% */
  border: none;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > h2 {
  text-align: right;
  font-size: 30px;
}

.cards .cards-card-body > h3 {
  text-align: right;
  font-size: 18px;
}

.cards .cards-card-body > h4 {
  text-align: right;
  font-size: 20px; /* Updated to 20px */
}

.cards .cards-card-body > h5 {
  text-align: right;
  font-size: 16px; /* Added h5 font-size */
}

.cards .cards-card-body > h6 {
  text-align: right;
  font-size: 12px; /* Added h6 font-size */
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover; /* Updated to cover */
}

@media (max-width: 900px) {
  .cards > ul {
    justify-content: space-between; /* Added justify-content property */
    flex-wrap: wrap; /* Updated to wrap */
  }
  
  .cards > ul > li {
    width: 48%; /* Added width property */
  }
}
