.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns-wrapper .special-hero h2,
.columns-wrapper .special-hero h3 {
  text-align: left;
}

.columns-wrapper .special-hero h2 {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 5px;
}

.columns-wrapper .special-hero h3 {
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.columns > div > div > p > picture {
  width: 200px;
  display: inline-block;
  margin-right: 20px;
  text-align: left;
}

.columns-wrapper .special-hero p {
  margin-left: 50px;
  text-align: left;
}

.columns-wrapper .special-hero ul {
  margin-left: 50px;
  list-style: none;
  padding-left: 0;
  font-size: 16px;
}

.columns-wrapper .special-hero .button-container {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.columns-wrapper .special-hero .button-container a {
  color: black;
  background-color: #FBB738;
}

.columns-wrapper .special-hero .button-container a:hover {
  color: white;
}

.special-header {
  background-color: #FBB738;
  color: black;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

@media (max-width: 900px) {
  .special-header {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  main .section {
    padding: 0px 10px;
  }
}

@media (max-width: 900px) {
  .columns > div > div {
    margin-top: 20px;
    text-align: center;
    align-items: center;
    flex-direction: unset;
    margin-bottom: 20px;
  }

  .columns-wrapper .special-hero h2,
  .columns-wrapper .special-hero h3,
  .columns-wrapper .special-hero .button-container {
    margin: 0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .columns-wrapper .special-hero ul {
    margin-left: 0;
    list-style: none;
    padding-left: 0;
    font-size: 16px;
  }

  .special-header {
    font-size: 12px;
  }

  .columns-wrapper .special-agenda > div .columns-img-col {
    margin-top: 0px;
    flex: 1;
    margin-bottom: 0px;
  }

  .columns-wrapper .special-hero p {
    text-align: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.columns-wrapper .special-agenda > div {
  flex: 1;
}

.columns-wrapper .special-agenda > div > div {
  background-color: #515BA6;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.columns-wrapper .special-agenda > div .columns-img-col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #FBB738;
}

.columns-wrapper .special-agenda > div .columns-img-col picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 200px;
  height: 200px;
}

.columns-wrapper .special-agenda h2 {
  font-size: 24px;
}

.columns-wrapper .special-agenda h3 {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

.columns-wrapper .special-agenda h4 {
  font-size: 18px;
  line-height: 0.5;
}

.special-quote {
  min-height: 500px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.special-quote h2 {
  font-size: 28px;
}

.special-quote h3 {
  font-size: 20px;
}

.columns-wrapper .special-quote .button-container a {
  color: black;
  background-color: #FBB738;
}

.columns-wrapper .special-quote .button-container a:hover {
  color: white;
}

.special-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.columns-wrapper .special-agenda > div .columns-img-col,
.columns-wrapper .special-agenda > div > div {
  min-height: 500px;
  margin: 0;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns-wrapper .special-hero p {
    margin: 0;
    text-align: center;
  }

  .columns-wrapper .special-hero h2,
  .columns-wrapper .special-hero h3,
  .columns-wrapper .special-hero .button-container {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 50px;
    text-align: left;
    align-items: left;
    display: flex;
    align-items: left;
    justify-content: left;
  }

  .columns-wrapper .special-hero > div > div > p > picture {
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 5px;
    text-align: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .columns-wrapper .special-hero .button-container {
    margin-left: 50px;
  }
}