.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}


.columns-wrapper .special-hero h2 {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 5px;
  text-align: left;
}

.columns-wrapper .special-hero h3 {
  margin-left: 50px;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  margin-bottom: 5px;
}

.columns-wrapper .special-hero p {
  margin-left: 50px;
  text-align: left;
}

.columns-wrapper .special-hero ul {
  margin-left: 50px;
  list-style: none;
  padding-left: 0; /* Remove indentation */
  font-size: 16px;
}

.columns-wrapper .special-hero .button-container {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;

}

.columns-wrapper .special-hero .button-container a {
  color: black;
  background-color: #FBB738;
}

.columns-wrapper .special-hero .button-container a:hover {
  color: white;
}


.special-header {
  background-color: #FBB738;
  color: black;
  text-align: center;
  font-size: 16px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px) {
  .special-header {
    font-size: 16px;
    height: 40px;
  }
}

@media (width <= 900px) {
  .columns > div > div {
    margin-top: 20px;
    text-align: center;
    align-items: center;
    flex-direction: unset;
    margin-bottom: 20px;
  }

  .columns-wrapper .special-hero h2,
  .columns-wrapper .special-hero h3,
  .columns-wrapper .special-hero .button-container {
    margin: 0;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  

  .columns-wrapper .special-hero ul {
    margin-left: 0;
    list-style: none;
    padding-left: 0;
    font-size: 16px;
  }

  .special-header {
    font-size: 12px;
    height: 40px;
  }

  .columns-wrapper .special-agenda > div .columns-img-col{
    margin-top: 0px;
    flex: 1;
    margin-bottom: 0px;
  }
  
  .columns-wrapper .special-agenda > div > div {
    margin-top: 0px;
    background-color: #515BA6; /* Updated background color to blue */
    color: white;
    margin-bottom: 0px;
  }
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns-wrapper .special-hero h2 h3 .button-container {
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* AGENDA */

.columns-wrapper .special-agenda {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.columns-wrapper .special-agenda > div {
  flex: 1;
}

.columns-wrapper .special-agenda > div > div {
  background-color: #515BA6; /* Updated background color to blue */
  color: white;
}

.columns-wrapper .special-agenda > div .columns-img-col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #FBB738;
}
.columns-wrapper .special-agenda > div .columns-img-col picture {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 200px;
  height: 200px;
}

.columns-wrapper .special-agenda h2 {
  font-size: 28px;
}

.columns-wrapper .special-agenda h3 {
  margin-left: 50px; /* Add margin */
  font-size: 20px;
}

.columns-wrapper .special-agenda h4 {
  margin-left: 50px; /* Add margin */
  font-size: 15px;
}

.columns-wrapper .special-agenda ul {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px; /* Add margin */
  column-count: 2; /* Display 2 columns */
  column-gap: 20px; /* Add gap between columns */
}

.columns-wrapper .special-agenda li {
  font-size: 10px;
  align-self: flex-start;
  margin-left: 50px; /* Add margin */
  break-inside: avoid; /* Prevent li from breaking across columns */
}

.columns-wrapper .special-agenda ul li {
  margin-left: 0;
}

.special-quote {
  min-height: 200px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.special-quote h2 {
  font-size: 28px;
}

.special-quote h3 {
  font-size: 20px;
}

.columns-wrapper .special-quote .button-container a {
  color: black;
  background-color: #FBB738;
}

.columns-wrapper .special-quote .button-container a:hover {
  color: white;
}
